@font-face {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    src: url('../fonts/FuturaPTMedium.otf') format('opentype'), 
  }
@font-face {
    font-family: 'Futura PT medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FuturaPTBook.otf') format('opentype'), 
  }
