$nav-height-global: 120px;
// @use 'mixin';
// @import './fonts';
@use 'fonts';
//import components
@use 'header' with (
    $scroll-margin: $nav-height-global
);
@use 'nav' with (
    $nav-height: $nav-height-global 
);
@use 'outstand-section';
@use 'ingredients' with (
    $nav-height: $nav-height-global 
);
@use 'dog';
@use 'products';
@use 'modal';



body{
    background-color: #F6F6F6;
    overflow-x: hidden;
    &.modal-open{
        overflow: hidden;
    }
}
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Futura PT', sans-serif;
}